.login-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  #login-three-container {
    width: 100%;
    height: 100%;
  }

  .login-plane {
    position: absolute;
    z-index: 9999;
    width: 600px;
    height: 500px;
    background-image: url('../../assets/images/login/login_border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login-plane-container {
      width: 100%;
      height: 100%;
      border-radius: 18px;
      background-color: #007eff2e;
      position: relative;

      @keyframes humanMove {
        0% {
          top: -100px;
        }

        25% {
          top: -120px;
        }

        50% {
          top: -100px;
        }

        75% {
          top: -80px;
        }

        100% {
          background: -100px;
        }
      }

      .login-plane-human {
        position: absolute;
        width: 260px;
        right: -120px;
        top: -100px;
        animation: humanMove 8s linear 0s infinite normal;
      }

      .login-plane-title {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 35px;
        color: #fff;
        font-weight: 700;

        img {
          width: 50%;
        }

        .login-plane-title-line {
          width: 80%;
          position: absolute;
          bottom: 0;
        }
      }

      .login-plane-form {
        padding: 45px 55px;
        box-sizing: border-box;

        .login-code-container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .login-code {
            cursor: pointer;
            width: 35%;
            height: 40px;
            border-radius: 6px;
            background-color: #c8c8c8;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .ant-form-item-control-input {
    outline-color: #2662b8;

    .ant-input {
      box-shadow: 0 0 0 1px #2662b8;
      background: rgba($color: #fff, $alpha: 0);
      color: #fff;
      outline-color: #2662b8;
      border: none;
      height: 40px;

      &::placeholder {
        color: #9ca1a9;
      }

      // 解决浏览器自动回填背景问题
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-transition-delay: 99999s;
        -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
      }
    }
  }



  .login-btn {
    width: 100%;
  }

  .login-ground {
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 400px;
    background-image: url('../../assets/images/login/ground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
  }
}