// 字体大小
.f-mi {
	font-size: 12px;
}

.f-ma {
	font-size: 14px;
}

.f-mb {
	font-size: 16px;
}

.f-mc {
	font-size: 18px;
}

.f-md {
	font-size: 20px;
}

.f-me {
	font-size: 22px;
}

.f-mx {
	font-size: 24px;
}

// 位置
.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.lin1 {
	line-height: 1;
}
